@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  box-sizing: border-box;
}

/* //-- PAGINATION COMPONENT */

.pagination-shell {
  @apply flex justify-center;
}
.pagination-container {
  /* @apply border border-solid border-gray-400 rounded-lg overflow-hidden */
  @apply flex flex-wrap  gap-1  rounded-md;
}

.pageBtn {
  /* @apply bg-white text-gray-900 w-[30px] px-1 py-1 border-l border-gray-500 text-sm mx-1; */
  @apply bg-white border border-gray-400 shadow-md rounded  text-gray-900 
  min-w-[25px] px-1 text-sm  hover:bg-blue-500 hover:border-blue-500 hover:text-white transition duration-300 ease-in;
}

.activePageBtn {
  @apply bg-blue-700 text-white border-blue-700;
}

.prev-next-btn {
  /* @apply text-gray-900 p-3 border-l border-gray-500; */
  @apply flex items-center  justify-center bg-white text-gray-900   px-1  text-lg border border-solid border-gray-400  active:bg-blue-700 active:border-blue-700 active:text-white transition duration-300 ease-in;
}

.first-page-btn {
  @apply px-1 border border-gray-400 shadow-md rounded-s-lg bg-white active:bg-blue-700 active:border-blue-700 active:text-white transition duration-300 ease-in;
}

.last-page-btn {
  @apply px-1 border border-gray-400 shadow-md rounded-e-lg bg-white active:bg-blue-700 active:border-blue-800 active:text-white transition duration-300 ease-in;
}

/* // W3schools signuplogin btn  */
.custom-container {
  position: relative;
  border-radius: 9999px; /* This value may need adjustment for rounding */
  width: 145px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.custom-btn-signup {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 8px; /* Adjust for different button text lengths */
  padding-bottom: 8px; /* Adjust for different button text lengths */
  padding-left: 12px; /* Adjust for different button text lengths */
  padding-right: 12px; /* Adjust for different button text lengths */
  text-align: center;
  font-size: 14px; /* 14px in Tailwind's base font size */
  width: 85px;
  background-color: #1d4ed8; /* Blue-700 in Tailwind */
  color: #fff;
  font-weight: 600;
  border-radius: 9999px; /* This value may need adjustment for rounding */
  z-index: 10;
}

.custom-btn-signup:hover {
  background-color: #1e40af; /* Blue-800 in Tailwind */
  color: #fff;
}

.custom-btn-login {
  position: relative;
  text-align: end;
  padding-top: 8px; /* Adjust for different button text lengths */
  padding-bottom: 8px; /* Adjust for different button text lengths */
  padding-left: 5px; /* Adjust for different button text lengths */
  padding-right: 15px; /* Adjust for different button text lengths */
  width: 95px;
  background-color: #a5b4fc; /* Blue-300 in Tailwind */
  font-size: 14px; /* 14px in Tailwind's base font size */
  font-weight: 600;
  border-radius: 9999px; /* This value may need adjustment for rounding */
  z-index: 0;
}

.custom-btn-login:hover {
  background-color: #1e40af; /* Blue-800 in Tailwind */
  color: #fff;
}

/* Media Queries */
@media screen and (min-width: 640px) {
  .custom-container {
    width: 160px;
  }

  .custom-btn-signup {
    width: 93px;
    font-size: 16px;
  }

  .custom-btn-login {
    width: 105px;
    font-size: 16px;
  }
}
